<div class="container">
    <form class="form-inline">
        <label for="query">Repository Name</label>
        <input type="text" id="query" class="form-control" ng-model="query" >
        <button type="button" class="btn" ng-click="getRepositories()">
            <span class="octicon octicon-search"></span> Search
        </button>
    </form>
</div>

<div class="container">
    <ul class="list-unstyled repositories-list">
        <li class="repositories" ng-repeat="repository in repositories">
            <a href="#/repositories/{{repository.id}}">
                <h3>{{repository.full_name}}</h3>
                <p class="description">{{repository.description}}</p>
            </a>
        </li>
    </ul>
</div>
